{% load static %} 

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'victorina/style/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); </style>
    <title>Викторина 2023!</title>
</head>
<body>
    <button >
        Выйти
    </button>
    <div class="question">
        <p>
            {{api_requests_question}}
        </p>
    </div>
    <div class="answer">
        {% for a in api_requests_answer %}
            <p class="{% cycle 'left' 'right' %}">
                {{a}}
            </p>
        {% endfor %}
    </div>
    <audio src="{% static 'victorina/audio/out.mp3' %}">Аудио не воспроизводится!</audio>
    <div class="progress">
        <div class="progress_names">
            <p class="balls">Галина</p>
            <p class="balls">Иван</p>
            <p class="balls">Петр</p>
        </div>
        <div class="progress_balls">
            <p class="balls">10 очков</p>
            <p class="balls">20 очков</p>
            <p class="balls">40 очков</p>
        </div>
    </div>
    <form action="{% url 'index' %}" method="">
        {% csrf_token %}
        <div class="dindon_box">
            <button class="dindon_button" type="submit" name="dindon">
                <div class='arrow'>
                    <div class="arrow_top"></div>
                    <div class="arrow_bottom"></div>
                </div>
            </button>
        </div>
    </form>
</body>
</html>