{% load static %} 

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'victorina/style/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Викторина 2023!</title>
</head>
<body>
    <div class="question">
        <h2>
            Вопрос викторины отображается сдесь.
        </h2>
    </div>
    <div class="answer">
        <button class="answer_button">
            1) Ответ 1
        </button>
        <button class="answer_button">
            2) Ответ 2
        </button>
        <button class="answer_button">
            3) Ответ 3
        </button>
        <button class="answer_button">
            4) Ответ 4
        </button>
    </div>
    <div>
        <button class="dindon_button"></button>
    </div>
</body>
</html>
