button.dindon_button {
    margin: auto;
    display: block;
    width: 10em;
    height: 10em;
    border-radius: 50pt;
    background-color: rgb(120, 43, 43);
    box-shadow: 0 0 6px 2px rgb(120, 43, 43), 0 0 7px 7px black;
    border-color: rgb(120, 43, 43);
}

button.dindon_button:active {
    box-shadow: 0 0 2px 1px rgb(120, 43, 43), 0 0 3px 3px black;
}

div.question {
    display: inline-block;
    margin: auto;
    width: 100em;
}

div.answer {
    display: inline-block;
    margin: auto;
    width: 100em;
}

button.answer_button {
    display: flexbox;
}